<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome too {{ title }}!
  </h1>
  <img width="300" alt="ArborLife Logo" src="assets/images/arborLife4icons-158x158.png"> i
</div>
<h2>This website is just a stub and there is not currently an ETA to develop.  Arbor Life is developing apps and (Sage) is putting all his time to coding there.  Eventually I will likely develop a website with login to allow people to download data from their computers. </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.flickr.com/photos/tags/flicker/">Login - to see logged GPS data , group graph results - NEED TO ADD </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.marian.edu/sage">Info - NEED TO ADD</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.marian.edu/sage">Research by Sage Arbor</a></h2>
  </li>
</ul>

<!--
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->


